*   
    padding: 0
    margin: 0
    box-sizing: border-box

header
    background: url('./images/bg2.jpg')
    background-repeat: no-repeat
    height: 200px
    background-size: cover
    background-position: center

header:before
    content: ""
    width: 100%
    height: 200px
    position: absolute
    top: 0px
    left: 0px

    background-image: linear-gradient(90deg, #1F3297, #111927)
    opacity: 0.8

.container
    width: 80%
    margin: auto
    height: 100%

.content
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: relative

.title
    padding: 10px
    color: #82bf45
    font-size: 5rem
    font-family: Courier New, Courier, monospace

.text
    color: #82bf45
    font-size: 17px
    font-family: Courier New, Courier, monospace 

.characters
    margin-top: 20px
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: center

.box
    width: 30%
    background-color: #1f2937
    margin: 10px
    border-radius: 4px
    box-shadow: 4px 5px #d9e5d6
    display: flex

img
    width: 50%

.character
    width: 100%
    margin: 10px
    display: flex
    flex-direction: column
    justify-content: center

.name
    font-family: Courier New, Courier, monospace 
    font-size: 25px
    color: #82bf45

.specie
    text-align: center
    padding: 5px
    background-color: #364150
    color: white    
    border-radius: 4px
    text-transform: uppercase
    font-size: 15px
    margin: 3px 0px
    font-family: Courier New, Courier, monospace 

.status
    text-align: center
    padding: 4px
    background-color: #364150
    color: white    
    border-radius: 4px
    text-transform: uppercase
    font-size: 12px
    margin: 3px 0px
    font-family: Courier New, Courier, monospace 

@media screen and ( max-width: 1588px )
    .container
        width: 80%
    .box
        .character 
            .name
                font-size: 25px

@media screen and ( max-width: 1450px )
    .container
        width: 90%

@media screen and ( max-width: 1300px )
    .container
        width: 95%        

@media screen and ( max-width: 1230px )
    .box
        width: 35%    
    .container
        width: 100%            

@media screen and ( max-width: 1000px )
    .box
        width: 45%                    

@media screen and ( max-width: 860px )
    .container
        width: 80%     
    .box
        width: 100%               

@media screen and ( max-width: 630px )
    .title
        font-size: 4rem
        padding: 5px

@media screen and ( max-width: 534px )
    .text
        font-size: 15px
    .container
        width: 90%

@media screen and ( max-width: 444px )
    .container
        width: 95%
    .title
        padding: 4px       

@media screen and ( max-width: 416px )
    .container
        width: 100%
    .title
        padding: 3px        